* {
    border: none;
    border-radius: 5px;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 14px;
    min-height: 10px;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
}

.modules-right {
    margin: 0 5px 0 0;
}
.modules-center {
    margin: 0 0 0 0;
}
.modules-left {
    margin: 0 0 0 5px;
}


#cpu,
#clock,
#memory,
#temperature,
#tray,
#battery,
#network,
#window,
#workspaces,
#pulseaudio,
#backlight,
#disk,
#custom-control-center,
#network {
   padding: 4px 4px;
   opacity: 1;
}

tooltip {
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: #d5c4a1;
}

#workspaces button.active {
    background: #4774bf;
    color: #FDE6D5;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
}

#workspaces button:hover {
    background: #b16286;
    border: none;
}

#workspaces {
    background-color: #082C6C;
    padding: 0px;
}

#window {
    background-color: #082C6C;
    color: #38ef7d; 
	padding-left: 15px;
	padding-right: 15px;
}

#tray {
   background-color: #405253;
   color: #ebdbb2; 
}

#cava {
	color:red;
	margin-right: 10px;
}

#pulseaudio {
    background-color: #405253;
	margin-left: 5px;
	margin-right: 5px;
    color: #ebdbb2;
}

#cpu {
   background-color: #286076;
   color: #ebdbb2;
}

#memory {
   background-color: #286076;
   color: #ebdbb2;
}

#clock {
   background-color: #286076;
   color: #ebdbb2;
   margin-left: 10px;
   margin-right: 10px;
}

#temperature { 
   background-color: #286076;
   color: #ebdbb2;
   margin-right: 5px;
}

#temperature.critical {
    color: #ff0000;
}

#disk {
    background-color: #052E44;
    color: #ebdbb2;
}

#battery {
   background-color: #5E2A7C;
   color: #FDE6D5;
   margin-right: 5px;
}

#network {
  background-color: #5E2A7C;
  color: #FDE6D5;
  margin-right: 5px;
}



#custom-control-center {
  background-color: #C53C2C;
  color: #FDE5D4;
}
